// out: null

/*
File Name: palette.css
Date: 7/19/17
Programmer: Mario Lopriore
*/

@color1: #FFFFFF;
@color2: #FF0000;
@color3: #EDEDED;
@color4: #444444;
@color5: #000000;

// White, red, light gray, dark gray, black - in order.
// Hover for preview of color.