/*
File Name: style.less
Date: 7/19/2017
Programmer: Mario Lopriore
*/


/* These are imported from the mixins.less file. */

@import 'mixins.less';
@import 'palette.less';

/* Styling the navigation */

nav {
    background-color: @color5;
    line-height: 2em;
    padding: .5em;
    text-align: center;
    ul {
        li {
            font-family: @bodyFont;
            list-style-type: none;
        }
    }
    .tablet-desk-menu {
        display: none;
    }
}

.mobile-nav {
    margin: .5em auto;
}


/* Mobile navigation styling classes for JavaScript menu */

.menu-btn div {
    position: absolute;
    left: 100%;
    top: 64%;
    padding-right: 8px;
    margin-top: -0.50em;
    line-height: 1.2;
    font-size: 18px;
    font-weight: 200;
    vertical-align: middle;
    z-index: 99;
}


/* This is for the hamburger's horizontal lines. */

.menu-btn span {
    display: block;
    width: 19px;
    height: 3px;
    margin: 4px auto;
    background: @color1;
    z-index: 99;
}


/* The styling for the links in the dropdown menu. */

.responsive-menu {
    display: none;
    a {
        color: @color1;
        font-size: 1.1em;
        line-height: 2.8;
        text-decoration: none;
    }
}

.expand {
    display: block !important;
}

header {
    margin: auto;
    img {
        display: block;
        margin: auto;
        width: 70%;
        vertical-align: middle;
    }
}


/* Removing the tablet & desktop header. */

.fullHeader {
    display: none;
}


/* Removing the h1 from Mobile on success and 404error pages. */

.result_h1 {
    display: none;
}

#hideH1 {
    display: none;
}


/* This is the styling around the slideshow. */


/* Removing the slider for all displays. */

.mobileSlider {
    display: none;
}

.deskSlider {
    display: none;
}


/* Slideshow container */

.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

.myOtherSlides {
    display: none;
}


/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

section {
    h2 {
        color: @color5;
        font-family: @bodyFont;
        text-align: center;
    }
    h3 {
        font-family: @headlineFont;
        font-size: 1.3em;
        text-align: center;
    }
    h4 {
        background-color: @color3;
        border-left: @color2 5px solid;
        font-family: @bodyFont;
        margin: .5em 1em .3em;
        padding: 1em;
    }
    h5 {
        font-family: @bodyFont;
        font-size: 1.2em;
        margin: .5em 1.5em;
    }
    h6 {
        color: @color4;
        font-family: @bodyFont;
        font-size: .8em;
        margin: .5em 3em;
    }
    ul {
        li {
            font-family: @bodyFont;
            line-height: 1.5em;
            margin-left: 2.5em;
        }
    }
    p {
        color: @color5;
        font-family: @bodyFont;
        padding: .7em;
        line-height: 1.3em;
    }
}


/* These h4s are slightly different from the others. */

.days {
    background-color: @color1;
    border: none;
}

form {
    color: @color4;
    font-family: @bodyFont;
    margin: .2em .8em;
    padding: .5em;
    text-align: left;
    h5 {
        color: @color5;
        font-size: 1.2em;
        margin: .5em;
    }
    label {
        padding: .5em;
    }
    input[type=text] {
        font-family: @bodyFont;
        margin: .5em;
        padding: .5em;
        width: 95%;
    }
    input[type=radio] {
        margin: .8em .6em;
    }
    input[type=submit] {
        margin: .5em;
    }
    textarea {
        font-family: @bodyFont;
        margin: .5em;
        padding: .5em;
        width: 95%;
    }
}


/* Style here to move the input areas away from the fields. */

.inputArea {
    margin: 1em 0;
}

aside {
    background-color: @color3;
    font-family: @bodyFont;
    padding: .5em;
    text-align: center;
}

.twitter-timeliine {
    padding-top: .5em;
}

.fb-page {
    padding-top: .5em;
}

.weather {
    padding: 1em;
}

.faq {
    font-style: italic;
    font-weight: 600;
    padding: 0 .3em 0 0;
}


/* Removing the desktop aside display */

.tabletAside {
    display: none;
}


/* Removing the desktop aside display */

.deskAside {
    display: none;
}


/* Image at the bottom next to the contact form - tablet & desktop only. */

.finish {
    display: none;
}

footer {
    background-color: @color5;
    color: @color1;
    text-align: center;
    div {
        .fa {
            color: @color1;
            font-size: 2em;
            text-align: center;
            padding: .7em .5em;
        }
        img {
            display: inline-block;
        }
    }
    p {
        font-family: @bodyFont;
        padding: .5em;
        line-height: 1.2em;
    }
}


/* Tablet CSS code and up */

@media only screen and (min-width: 481px) {
    /* This is the navigation outside of the hamburger menu. */
    .menu-btn {
        display: none;
    }
    /* Removing the hamburger menu from tablet size and up. */
    .responsive-menu {
        display: none;
    }
    nav {
        margin-top: 0;
        .tablet-desk-menu {
            display: block;
            ul {
                background-color: @color5;
                padding: 1em;
                li {
                    display: inline;
                    font-size: 1.5em;
                    padding: 0 1.3em;
                    a {
                        color: @color1;
                        text-decoration: none;
                    }
                    a:visited {
                        color: @color3;
                    }
                    a:hover {
                        color: @color2;
                    }
                }
            }
        }
    }
    /* Removing the mobile header. */
    .mobileHeader {
        display: none;
    }
    /* Restoring the tablet & desktop header. */
    .fullHeader {
        display: block;
    }
    /* Header adapted for tablet */
    header {
        background-image: url(../images/cassette.70.png);
        background-size: cover;
        margin-bottom: 1.5em;
        img {
            width: 50%;
            margin: 2em auto;
            vertical-align: middle;
        }
        h1 {
            color: @color2;
            font-family: @headlineFont;
            font-size: 2em;
            font-style: italic;
            font-weight: 600;
            margin: 1.2em 0;
            text-align: center;
        }
        h2 {
            font-weight: 200;
        }
    }
    section {
        h3 {
            font-weight: 700;
            font-size: 1.5em;
            font-style: italic;
            padding: 0 2em;
            text-align: left;
        }
        p {
            padding: .5em 2em;
            line-height: 1.5em;
        }
        ul {
            li {
                font-family: @bodyFont;
                line-height: 1.8em;
                margin-left: 3em;
            }
        }
    }
    aside {
        blockquote {
            line-height: 5.5em;
        }
    }
    form {
        text-align: left;
        label {
            padding: .5em;
        }
    }
    /* Adding the slider to tablet view - it was removed in mobile. :( */
    .mobileSlider {
        display: block;
    }
    /* Removing the mobile aside display. */
    .mobileAside {
        display: none;
    }
    /* Restoring the tablet aside display. */
    .tabletAside {
        display: block;
    }
    .finish {
        display: block;
        margin: 2em auto;
        width: 75%;
    }
    footer {
        clear: both;
    }
}


/* Desktop CSS code and up */

@media only screen and (min-width: 1025px) {
    nav {
        ul {
            text-align: right;
            li {
                a {
                    font-size: .8em;
                    padding: .5em .8em;
                }
            }
        }
    }
    header {
        img {
            width: 30%;
        }
        h1 {
            font-size: 2.5em;
            margin: 1.1em;
        }
        h2 {
            font-size: 1.7em;
        }
    }
    section {
        h4 {
            font-size: 1.2em;
            margin: .8em 2em .3em;
        }
        h5 {
            margin: 1em 4.5em;
        }
        h6 {
            font-size: 1.2em;
            margin: .5em 5em;
        }
        p {
            font-size: 1.2em;
            padding: .5em 3em;
        }
        ul {
            li {
                margin-left: 5em;
            }
        }
    }
    form {
        margin-left: 3em;
    }
    /* Removing the mobile & tablet slider display */
    .mobileSlider {
        display: none;
    }
    /* Removing the tablet aside display. */
    .tabletAside {
        display: none;
    }
    /* Restore the desktop slider display. */
    .deskSlider {
        display: block;
        margin: auto;
        padding: 0 2em;
    }
    /* Restoring the desktop aside display. */
    .deskAside {
        display: block;
        padding: 0 1em;
        p {
            font-size: 1.2em;
        }
        blockquote {
            line-height: 8.5em;
        }
    }
    /* Caption text */
    .text {
        color: @color1;
        font-family: @bodyFont;
        font-size: 1.5em;
        padding: .5em .8em;
        position: absolute;
        bottom: .5em;
        width: 100%;
        text-align: center;
    }
    .finish {
        width: 50%;
    }
}